@{
    ViewBag.Title = "Home Page";
}
@section scripts {
    <script src="~/Scripts/jquery-1.11.1.js" type="text/javascript"></script>
    <script type='text/javascript'>
        $(function () {
            alert($("#inputest").val());
            $("#first").append("<table><tr><td><span>FIRST</span></td><td><span>SECOND</span></td></tr></table> ");
           });
    </script>
}
<div id="first">


</div>

